[Unit]
Description=aria2

[Service]
User=aria2
Type=oneshot
ExecStart=/usr/bin/aria2c -l "/home/aria2/.aria2/aria2.log"
KillMode=control-group
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
Alias=aria2.service